.holder {
    display: flex;
    justify-content: center;
    background: #245963;
}

.main-pic {
    width: 100%;
    background: url(../images/bg-header.jpg) no-repeat 50% 100%;
    background-size: cover;


    @include pic-100 {
        width: 1572/1920*100%;
    }

    h1 {
        @include tablets {
            font-size: 31px;
        }

        @include pic-100 {
            font-size: 41px;
            letter-spacing: 4.8px;
        }



        text-align: center;
        font-family: $secondary-font;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 3px;
        margin: 9% 15px 17.7%;

        span {
            @include tablets {
                font-size: 21px;
            }

            @include pic-100 {
                font-size: 31px;
                margin: 19px 0;
            }

            font-size: 16px;
            display: block;
            margin: 13px 0;


        }
    }
}

.nav-holder {
    display: flex;
    justify-content: space-between;
    background: rgba($color: #ffff, $alpha: 0.02);
    max-width: 1170px;
    padding: 0;
}

.logo {
    margin: 27px 0 25px 29px;
    display: inline-block;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-family: $secondary-font;
}

.btn-holder {
    margin: 22px 7px 0 0;
}